stages:
  - init
  - rpmbuild
  - test
  - finish

.terraform:
  before_script:
    - schutzbot/ci_details.sh > ci-details-before-run
    - cat schutzbot/team_ssh_keys.txt | tee -a ~/.ssh/authorized_keys > /dev/null
  after_script:
    - schutzbot/ci_details.sh > ci-details-after-run
    - schutzbot/unregister.sh
    - schutzbot/update_github_status.sh update
  tags:
    - terraform
  artifacts:
    paths:
      - ci-details-before-run
      - ci-details-after-run

init:
  stage: init
  tags:
    - shell
  script:
    - schutzbot/update_github_status.sh start
  interruptible: true

RPM:
  stage: rpmbuild
  extends: .terraform
  script:
    - sh "schutzbot/mockbuild.sh"
  interruptible: true
  parallel:
    matrix:
      - RUNNER:
          - aws/fedora-37-x86_64
          - aws/fedora-37-aarch64
          - aws/fedora-38-x86_64
          - aws/fedora-38-aarch64
          - aws/fedora-39-x86_64
          - aws/fedora-39-aarch64
          - aws/fedora-40-x86_64
          - aws/fedora-40-aarch64
          - aws/centos-stream-8-x86_64
          - aws/centos-stream-8-aarch64
          - aws/centos-stream-9-x86_64
          - aws/centos-stream-9-aarch64
          - aws/rhel-8.9-ga-x86_64
          - aws/rhel-8.9-ga-aarch64
          - aws/rhel-9.3-ga-x86_64
          - aws/rhel-9.3-ga-aarch64
      - RUNNER:
          - aws/rhel-8.10-nightly-x86_64
          - aws/rhel-8.10-nightly-aarch64
          - aws/rhel-9.4-nightly-x86_64
          - aws/rhel-9.4-nightly-aarch64
        INTERNAL_NETWORK: "true"

OSTree Images:
  stage: test
  extends: .terraform
  script:
    - schutzbot/deploy.sh
    - sudo test/cases/ostree-images
  parallel:
    matrix:
      - RUNNER:
          - aws/fedora-37-x86_64
          - aws/fedora-38-x86_64
          - aws/rhel-8.8-ga-x86_64
          - aws/rhel-9.2-ga-x86_64
          - aws/rhel-8.10-nightly-x86_64
          - aws/rhel-9.4-nightly-x86_64
        INTERNAL_NETWORK: "true"

SonarQube:
  stage: test
  extends: .terraform
  script:
    - schutzbot/sonarqube.sh
  variables:
    RUNNER: aws/centos-stream-8-x86_64
    INTERNAL_NETWORK: "true"
    GIT_DEPTH: 0

Manifests:
  stage: test
  extends: .terraform
  script:
    - schutzbot/deploy.sh
    - schutzbot/manifest_tests.sh ${PARALLEL_EXEC}
  artifacts:
    when: always
    paths:
      - manifest-db/generated-image-infos/
  parallel:
    matrix:
      - PARALLEL_EXEC: ["1/4", "2/4", "3/4", "4/4"]
        RUNNER:
          - aws/fedora-37-x86_64
          - aws/fedora-37-aarch64
          - aws/centos-stream-8-x86_64
          - aws/centos-stream-8-aarch64
          - aws/centos-stream-9-x86_64
          - aws/centos-stream-9-aarch64
      - PARALLEL_EXEC: ["1/4", "2/4", "3/4", "4/4"]
        RUNNER:
          - aws/rhel-8.8-ga-x86_64
          - aws/rhel-8.8-ga-aarch64
          - aws/rhel-8.10-nightly-x86_64
          - aws/rhel-8.10-nightly-aarch64
          - aws/rhel-9.2-ga-x86_64
          - aws/rhel-9.2-ga-aarch64
          - aws/rhel-9.4-nightly-x86_64
          - aws/rhel-9.4-nightly-aarch64
        INTERNAL_NETWORK: "true"

finish:
  stage: finish
  tags:
    - shell
  script:
    - schutzbot/update_github_status.sh finish
