*.tar.gz
*.egg-info
__pycache__

/*.rpm
/.osbuild
/rpmbuild

/.vscode
/.idea
/.gdb_history

cov-analysis-linux64/
cov-analysis-osbuild.xz
cov-int/

**/.DS_Store

/docs/osbuild.1
/docs/osbuild-manifest.5

venv
.venv

/.tox

pkg
container_built.info
