stages:
  - init
  - rpmbuild
  - test
  - finish

.terraform:
  after_script:
    - schutzbot/update_github_status.sh update
    - schutzbot/save_journal.sh
  tags:
    - terraform
  artifacts:
    paths:
      - journal-log
    when: always

init:
  stage: init
  tags:
    - shell
  script:
    - schutzbot/update_github_status.sh start

RPM:
  stage: rpmbuild
  extends: .terraform
  script:
    - sh "schutzbot/mockbuild.sh"
  parallel:
    matrix:
      - RUNNER:
          - aws/fedora-33-x86_64
          - aws/fedora-33-aarch64
          - aws/fedora-34-x86_64
          - aws/fedora-34-aarch64
          - aws/centos-stream-8-x86_64
          - aws/centos-stream-8-aarch64
      - RUNNER:
          - aws/rhel-8.4-ga-x86_64
          - aws/rhel-8.4-ga-aarch64
        REGISTER: "true"
      - RUNNER:
          - aws/rhel-8.5-nightly-x86_64
          - aws/rhel-8.5-aarch64
          - aws/rhel-9.0-beta-nightly-x86_64
          - aws/rhel-9.0-beta-nightly-aarch64
        INTERNAL_NETWORK: "true"

Testing:
  stage: test
  extends: .terraform
  script:
    - schutzbot/deploy.sh
    - /usr/libexec/tests/osbuild-composer/image_tests.sh
  parallel:
    matrix:
      - RUNNER:
          - aws/fedora-33-x86_64
          - aws/fedora-33-aarch64
        INTERNAL_NETWORK: "true"
      - RUNNER:
          - aws/rhel-8.4-ga-x86_64
        REGISTER: "true"
        INTERNAL_NETWORK: "true"
      - RUNNER:
          - aws/rhel-8.5-nightly-x86_64
          - aws/rhel-9.0-beta-nightly-x86_64
        INTERNAL_NETWORK: "true"

finish:
  stage: finish
  tags:
    - shell
  script:
    - schutzbot/update_github_status.sh finish
