dist: bionic
language: python
python:
  - "3.7"
jobs:
  include:
    - name: pylint
      install: pip install pylint
      script: pylint osbuild osbuild-run assemblers/* stages/*
    - name: unit-tests
      script: python3 -m unittest test.test_osbuild
    - name: rpm
      before_install:
        - sudo apt-get install -y rpm python3-setuptools
        - sudo wget --directory-prefix=/usr/lib/rpm/macros.d https://src.fedoraproject.org/rpms/python-rpm-macros/raw/master/f/macros.python-srpm
        - sudo wget --directory-prefix=/usr/lib/rpm/macros.d https://src.fedoraproject.org/rpms/python-rpm-macros/raw/master/f/macros.python
        - sudo wget --directory-prefix=/usr/lib/rpm/macros.d https://src.fedoraproject.org/rpms/python-rpm-macros/raw/master/f/macros.python3
      script: make rpm-nodeps
    - name: pipeline-noop
      before_install: sudo apt-get install -y systemd-container
      script:
        - sudo env "PATH=$PATH" python3 -m osbuild --libdir . --output . samples/noop.json
        - sudo env "PATH=$PATH" python3 -m osbuild --libdir . --output . samples/noop.json
    - name: f30-boot
      before_install: sudo apt-get install -y systemd-container yum qemu-kvm curl tar
      script: sudo env "PATH=$PATH" python3 -m test --case f30-boot --build-pipeline samples/build-from-yum.json
    - name: web-server
      before_install: sudo apt-get install -y systemd-container yum qemu-kvm curl tar
      script: sudo env "PATH=$PATH" python3 -m test --case web-server --build-pipeline samples/build-from-yum.json
    - name: timezone
      before_install: sudo apt-get install -y systemd-container yum qemu-kvm curl tar xz-utils
      script: sudo env "PATH=$PATH" python3 -m test --case timezone --build-pipeline samples/build-from-yum.json
    - name: firewall
      before_install: sudo apt-get install -y systemd-container yum qemu-kvm curl tar xz-utils
      script: sudo env "PATH=$PATH" python3 -m test --case firewall --build-pipeline samples/build-from-yum.json
