policy_module(osbuild, 1.1.0)

########################################
#
# Declarations
#

attribute_role osbuild_roles;
roleattribute system_r osbuild_roles;

type osbuild_t;
type osbuild_exec_t;
application_domain(osbuild_t, osbuild_exec_t)
role osbuild_roles types osbuild_t;

########################################
#
# osbuild local policy
#

allow osbuild_t self:fifo_file manage_fifo_file_perms;
allow osbuild_t self:unix_stream_socket create_stream_socket_perms;

# #####################################
# Customization
#

# make an osbuild_t unconfined domain
unconfined_domain(osbuild_t)

# execute setfiles in the setfiles_mac domain
# when in the osbuild_t domain
seutil_domtrans_setfiles_mac(osbuild_t)
osbuild_nnp_nosuid_trans(setfiles_mac_t)

# Allow sysadm and unconfined to run osbuild
optional_policy(`
        gen_require(`
                type sysadm_t;
                role sysadm_r;
        ')

        osbuild_run(sysadm_t, sysadm_r)
')

optional_policy(`
        gen_require(`
                type unconfined_t;
                role unconfined_r;
        ')

        osbuild_run(unconfined_t, unconfined_r)
')

optional_policy(`
        gen_require(`
                type unconfined_service_t;
                role system_r;
        ')

        osbuild_run(unconfined_service_t, system_r)
')

# allow transitioning to install_t (for ostree)
optional_policy(`
	anaconda_domtrans_install(osbuild_t)
	osbuild_nnp_nosuid_trans(install_t)
')

# The osbuild_container_t domain has enough permissions to run osbuild
# in a container. This is meant to be used like:
#   podman run --security-opt label=type:osbuild_container_t
#
# Other than the mac_admin capability (to allow setting unknown
# selinux labels) this is better than using unconfined_t, as it
# has less permissions. However, it is still a very permissive
# domain, so use with caution.
#
# This is optional, as it depends on container-selinux

optional_policy(`
        # Declaration

        gen_require(`
            attribute container_domain;
            role system_r;
        ')

        type osbuild_container_t, container_domain;
        domain_type(osbuild_container_t)
        role system_r types osbuild_container_t;

        # Implementation

        gen_require(`
             class capability2 mac_admin;
             type default_t;
             type fixed_disk_device_t;
             type kmsg_device_t;
             type sysctl_irq_t;
        ')

        # Allow creating files with unknown selinux labels
        # NOTE: This permission is not normally available to unconfined domains.
        allow osbuild_container_t self:capability2 mac_admin;
        # And allow relabeling default_t (i.e. unknown files)
        allow osbuild_container_t default_t:file { relabelfrom relabelto };

        # Allow loop device access
        dev_rw_loop_control(osbuild_container_t)
        allow osbuild_container_t fixed_disk_device_t:blk_file { getattr ioctl open read write lock };

        # Create and use all kinds of files
        files_unconfined(osbuild_container_t)

        # Connect to stuff for downloading files
        corenet_tcp_connect_all_ports(osbuild_container_t)

        # osbuild logs to kmsg
        allow osbuild_container_t kmsg_device_t:chr_file { open write };

        # Allow covering /proc/irq
        allow osbuild_container_t sysctl_irq_t:dir { mounton write };

        # Bwrap needs this
        allow osbuild_container_t self:netlink_route_socket nlmsg_write;

        # ostree sets its selinux label
        allow osbuild_container_t self:process setfscreate;
')
