#!/usr/bin/python3
import pathlib
import sys

import osbuild.api
from osbuild.util import toml


def main(tree, options):
    filename = options["filename"]
    config = options["config"]
    destination = options.get("destination", "tree")

    if destination == "buildroot":
        path = pathlib.Path("/run/bootc/install") / filename
    else:
        path = pathlib.Path(tree) / "usr/lib/bootc/install" / filename

    path.parent.mkdir(parents=True, exist_ok=True)

    toml.dump_to_file(config, path)

    return 0


if __name__ == '__main__':
    args = osbuild.api.arguments()
    r = main(args["tree"], args["options"])
    sys.exit(r)
