#!/usr/bin/python3
import sys

import iniparse

import osbuild.api


def bool_to_yes_no(b):
    if b:
        return "yes"
    return "no"


def main(tree, options):
    config = options.get("config")
    dnf_automatic_config_path = f"{tree}/etc/dnf/automatic.conf"
    dnf_automatic_conf = iniparse.SafeConfigParser()

    # do not touch the config file if not needed
    if config is None:
        return 0

    try:
        with open(dnf_automatic_config_path, "r", encoding="utf8") as f:
            dnf_automatic_conf.readfp(f)
    except FileNotFoundError:
        print(f"Warning: DNF automatic configuration file '{dnf_automatic_config_path}'" +
              " does not exist, will create a new one.")

    for config_section, config_options in config.items():
        if not dnf_automatic_conf.has_section(config_section):
            dnf_automatic_conf.add_section(config_section)

        for option, value in config_options.items():
            if isinstance(value, bool):
                value = bool_to_yes_no(value)
            dnf_automatic_conf.set(config_section, option, value)

    with open(dnf_automatic_config_path, "w", encoding="utf8") as f:
        dnf_automatic_conf.write(f)

    return 0


if __name__ == '__main__':
    args = osbuild.api.arguments()
    r = main(args["tree"], args["options"])
    sys.exit(r)
