#!/usr/bin/python3
import pathlib
import sys

try:
    import toml
except ModuleNotFoundError:
    import pytoml as toml

import osbuild.api


def main(tree, options):
    filename = options["filename"]
    config = options["config"]

    path = pathlib.Path(tree) / "usr/lib/bootc/install" / filename
    path.parent.mkdir(parents=True, exist_ok=True)

    with open(path, "w", encoding="utf8") as config_file:
        toml.dump(config, config_file)

    return 0


if __name__ == '__main__':
    args = osbuild.api.arguments()
    r = main(args["tree"], args["options"])
    sys.exit(r)
