#!/usr/bin/python3
import os
import sys

import osbuild.api
from osbuild.util import ostree


def main(tree, options):
    repo = os.path.join(tree, options["repo"].lstrip("/"))
    integrity_options = options["config"].get("integrity", {})

    composefs = integrity_options.get("composefs")
    if composefs is not None:
        ostree.cli("config", "set", "ex-integrity.composefs", composefs, repo=repo)


if __name__ == '__main__':
    stage_args = osbuild.api.arguments()
    r = main(stage_args["tree"],
             stage_args["options"])
    sys.exit(r)
