name: "Create GitHub release"

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Upstream release
        uses: osbuild/release-action@main
        with:
          token: "${{ secrets.SCHUTZBOT_GITHUB_ACCESS_TOKEN }}"
          slack_bot_token: "${{ secrets.SLACK_BOT_TOKEN }}"
