name: Tests

on: [pull_request, push]

jobs:
  test_suite:
    name: "Test Suite"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test:
        - "test.mod"
        - "test.run.test_assemblers"
        - "test.run.test_boot"
        - "test.run.test_executable"
        - "test.run.test_noop"
        - "test.run.test_sources"
        - "test.run.test_stages"
        - "test.src"
    steps:
    - name: "Clone Repository"
      uses: actions/checkout@v2
      with:
           fetch-depth: 2  # codecov requires this (https://github.com/codecov/codecov-action/issues/190)
    - name: "Run Tests"
      uses: osbuild/containers/src/actions/privdocker@e4de123f43b95e99dfe8eed0bd5a1cd58db50715
      with:
        image: ghcr.io/osbuild/osbuild-ci:latest-202112091446
        run: |
          python3 -m pytest \
            --pyargs "${{ matrix.test }}" \
            --rootdir=. \
            --cov-report=xml --cov=osbuild \
            -v
    - name: Send coverage to codecov.io
      run: bash <(curl -s https://codecov.io/bash)
