name: Tests

on: [pull_request, push]

jobs:
  test_suite:
    name: "Unittest"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test:
        - "test.mod"
        - "test.run.test_assemblers"
        - "test.run.test_boot"
        - "test.run.test_devices"
        - "test.run.test_executable"
        - "test.run.test_mount"
        - "test.run.test_noop"
        - "test.run.test_sources"
        - "test.run.test_stages"
        environment:
        - "py36"
        - "py39"
        - "py311"
        - "py312"
    steps:
    - name: "Clone Repository"
      uses: actions/checkout@v3
    - name: "Run"
      uses: osbuild/containers/src/actions/privdocker@552e30cf1b4ed19c6ddaa57f96c342b3dff4227b
      with:
        image: ghcr.io/osbuild/osbuild-ci:latest-202304251412
        run: |
          TEST_CATEGORY="${{ matrix.test }}" \
          tox -e "${{ matrix.environment }}"
